.app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
}

.expense-tracker {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  column-gap: 55px;
}

.expense-tracker h1 {
  font-size: 40px;
}

.expense-tracker button {
  margin-left: 10px;
  padding: 9px;
  font-family: 'Overpass';
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid darkgray;
}

.container {
  display: grid;
  justify-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 23px;
  min-width: 200px;

}

.profile-photo {
  width: 85px;
  border-radius: 50%;
  border: 2px solid white;

}


.transactions {
  margin-top: 20px;
  padding-left: 10px;
  width: 600px;
  height: 300px;
  overflow: auto;
  border: 3px solid #e6abff;
  border-radius: 9px;
}

#style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
}

.transactions-heading {
  text-align: center;
}

.list-of-transactions {
  display: grid;
  justify-items: start;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.total-amounts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  align-items: start;
}

.amount {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
  margin-right: 26px;
}

.amount:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.total-calculation-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  align-items: center;
  justify-content: end;
}

.radio-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.4fr;
  width: 100%;
  justify-items: start;
}

label {
  font-family: 'Overpass';
  font-size: 20px;
  cursor: pointer;
}

/* media query */
@media(max-width: 890px) {

  .expense-tracker {
    column-gap: 0px;
  }

  .expense-tracker h1 {
    font-size: 25px;
  }

  .profile {
    min-width: 95px;
  }
}

@media(max-width: 645px) {
  .transactions {
    width: 370px;
  }

  .amount {
    font-size: 12px;
    margin-right: 15px;
  }

  .total-amounts {
    font-size: 14px;
  }

  label {
    font-size: 14px;
  }

  .expense-tracker button {
    font-size: 12px;
  }
}

@media(max-width: 512px) {
  .all-inputs {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 0.2fr);
    row-gap: 13px;
  }

  .total-amounts {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 03fr);
    width: 100%;
    justify-items: start;
    align-items: center;
  }
}

@media(max-width: 430px) {

  body {
    border: none;
    box-shadow: none;
  }

  .transactions {
    width: 305px;
  }
}